<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You will receive updates when your post "<%= @post.title %>" is commented on.</h1>
    <small>
      <%= @post.user.name %>
    </small>
    <h3><%= @post.title %></h3>
    <p>
      <%= @post.body %>
    </p>
    <p>
      <%= link_to "View post on site", topic_post_url(@post.topic, @post) %>
    </p>
  </body>
</html>
